CLAUDE_API_KEY=YOUR_CLAUDE_API_KEY
VAPI_PUBLIC_KEY=YOUR_VAPI_PUBLIC_KEY
VAPI_PRIVATE_KEY=YOUR_VAPI_PRIVATE_KEY
POSTGRES_PRISMA_URL=YOUR_VERCEL_POSTGRES_PRISMA_URL
POSTGRES_URL_NON_POOLING=YOUR_VERCEL_POSTGRES_URL_NON_POOLING
REDIRECT_URL=https://localhost:3458/auth/callback
SHOPIFY_API_KEY=YOUR_APP_CLIENT_ID
